@use '../../../../styles/variables' as *;

.login-form {
    display: flex;
    flex-direction: column;

    gap: 24px;

    &__field {
        display: flex;
        flex-direction: column;

        gap: 8px;

        label {
            font-size: 13px;
            font-weight: 600;
        }

        input {
            width: 100%;

            padding: 16px 0;

            border: 0;
            border-bottom: 1px solid $color-border;

            outline: none;

            background: transparent;

            font-size: 16px;

            transition: border-color $transition;

            &:focus {
                border-color: $color-dark;
            }
        }
    }

    &__error {
        color: #b34b4b;

        font-size: 12px;
    }

    &__server-error {
        padding: 14px 16px;

        background: #f9e4e4;

        color: #9d3737;

        font-size: 13px;
    }

    button {
        margin-top: 10px;

        padding: 17px 24px;

        border: 0;

        background: $color-dark;
        color: $color-white;

        cursor: pointer;

        font-size: 14px;
        font-weight: 600;

        transition:
            background $transition,
            transform $transition;

        &:hover:not(:disabled) {
            background: $color-accent;

            transform: translateY(-2px);
        }

        &:disabled {
            cursor: not-allowed;

            opacity: 0.6;
        }
    }
}
